{% extends 'content/index.html.twig' %}

{% block title %}
    <h1 style="font-size: 42px">Articles pour les enfants de Dieu!</h1>
    <hr class="small">
    <span class="subheading"><i>Voyez quel amour le Père nous a témoigné,pour que nous soyons 
    appelés enfants de Dieu! Et nous le sommes.Si le monde ne nous connaît pas, 
    c'est qu 'il ne l 'a pas connu. 1 Jean 3:1 </span></i>
{% endblock title %}