{% extends 'content/index.html.twig' %}

{% block title %}
    <h1 style="font-size: 46px">Bonjour les enfants!</h1>
    <hr class="small">
    <span class="subheading">Evangile 2.0</span>
{% endblock title %}