{% extends "evangile/base.html.twig" %}



{% block title %}

<h1 style="font-size: 46px">Evangile deux point zero</h1>
<hr class="small">
<span class="subheading">Evangile 2.0</span>
{% endblock title %}


{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="antioche-preview">
                    <a href="{{ path('antioche') }}">
                        <h2 class="post-title">
                            La ville d’Antioche, la ville de Homs en Syrie (Emeès)
                        </h2>
                        <h3 class="post-subtitle">
                            De Jérusalem à Antioche
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Théophile</a> Février 17, 2017</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> Février 17, 2017</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Tertulien , l'extraterrestre!
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> 25 Mars, 2017</p>
                </div>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}