{% set background = "img/anton-repponen-109642.jpg" %}

{% extends "evangile/base.html.twig" %}

{% block title %}
    <h1 style="font-size: 36px">A propos de nous</h1>
    <h2 class="subheading"></h2>
    <span class="meta">Posted by <a href="#">Théophile Christiaens</a> Juin 11, 2017</span>
{% endblock title %}


{% block content %}
    <div class="container">
    <div class="row">
<h4 class="#" style="#"><br>Nous croyions en Dieu et en Son fils Jésus-Christ résusité.</h4>
</br>
    
<br><b><span style="color: #ff7e76; "><u>2 Thessalonians 2:3-4</u> (KJV) </span></b></br>

        <br>3 - <u>Nous croyions en Dieu et en Son fils Jésus-Christ.</u>: for that day shall not come, except there come a falling away first, and that man of sin be revealed, the son of perdition;</br>

        <br>4 - Nous croyions que Jésus est Dieu. Qu’il a été conçu par le Saint Esprit et a été enfanté par la vierge Marie.</br>
        <br>2 - Nous croyions que Jésus est la Parole et qu’il est Dieu (Jean 1-1)</br> 
        <br>3 - Nous croyions au Nouveau Testament, l’Evangile de Jésus-Christ qui est la Parole de Dieu. Mes références sont de la Bible King James Version. (KJV)</br>
        <br>4 - Nous sommes nés de nouveau par notre Seigneur Jésus-Christ. Nous ne pouvons pas êtres sauvé sans passer par cette étape. </br>
        <br>4 - Nous croyions à la vie éternelle qui nous est promise par Jésus-Christ et que nous sommes sauvé pour toujours.( Philippiens 1:6). </br>
        <br>4 - Nous croyions au Salut par la grâce à travers la foi en Jésus-Christ. </br>
        <br>4 - Nous croyions au Salut par la grâce à travers la foi en Jésus-Christ. </br>

    </div>
    </div>
{% endblock content %}